html {
  background-color: #b0c4de;
  font-family: "Roboto Mono", monospace;
}

h1 {
  font-size: 4vh;
  margin-left: 10px;
  margin-bottom: 5px;
}

#githubicon {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10vw;
  top: 40px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
  border-radius: 30px;
}

#githubicon:hover {
  transform: translateY(-5px);
  background-color: linen;
}

#homeIcon {
  position: absolute;
  top: 40px;
  left: 5vw;
  width: 60px;
  height: 60px;
  transition: 1.5s;
  z-index: 0;
  background-color: transparent;
}

#homeIcon:hover {
  transform: translateY(-5px);
}

body {
  margin-left: 10vw;
  margin-top: 5vh;
}

.rightBorder {
  border-right: 4px solid black !important;
}

.bottomBorder {
  border-bottom: 4px solid black !important;
}

#sudoku,
#solution {
  display: grid;
  margin-right: 30px;
  width: max-content;
}

.hovered {
  background-color: rgb(159, 205, 243);
}

#sudoku > div > input:focus,
#sudoku > div > input:hover {
  background-color: rgb(159, 205, 243) !important;
}

button {
  margin-top: 25px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Roboto Mono", monospace;
  font-size: x-large;
  width: 150px;
  height: 75px;
}

#boards {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1427px) {
  #sudoku > div,
  #solution > div {
    display: flex;
  }

  #boards {
    flex-direction: column;
  }
}

input {
  border: 1px solid black;
  width: 2em;
  height: 2em;
  text-align: center;
  font-size: xx-large;
  background-color: aliceblue;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#invalidmessage {
  color: red;
}

a:hover {
  color: cadetblue;
}

#updateText {
  font-size: small;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.shadowBox {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
